@model SastTestApp.Models.User

@{
    ViewBag.Title = "ShowUserDetails";
}

<h2>ShowUserDetails</h2>

<div>
    <div>
        UserName : @Model.UserName
    </div>
    <div>
        Email : @Model.Email
    </div>
</div>
